body {
  background: radial-gradient(49.63% 57.02% at 58.99% -7.2%, rgba(7, 201, 131, 0.1) 39.4%, rgba(0, 0, 0, 0) 100%); !important;
}
 
p {
  font-size: 16px !important;
}

button img {
  border-radius: 10px !important;
}

.rounded-card :where(img) {
  border-radius: 99px;        /* ihtiyacına göre 50% de verebilirsin */
  overflow: hidden;           /* bazı tarayıcılarda güvenli taraf */
}

.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
  border-bottom: 1px solid #18d2a5
}